Repository DILCISBoard/eark-ip-test-corpus, pull requests merged in 2021-09, with the labels that each got.

#57 TEST - CSIPSTR3 test case and package.
  corpus/structure/CSIPSTR3/testCase.xml
  corpus/structure/CSIPSTR3/testCase.xsd
Labels: test case, corpus package

#230 Csip/struct map/csip81
  corpora/csip/metadata/structmap/CSIP81/testCase.xml
Labels: test case

#242 CSIP33 testCase.xml out of scope
  corpora/csip/metadata/amdsec/CSIP33/testCase.xml
Labels: test case

#44 TEST - CSIPSTR14 test case and packages.
  corpus/structure/CSIPSTR14/pass/IP_folder_and_rep_folder_have_additional_folder/package/METS.xml
  corpus/structure/CSIPSTR14/pass/IP_folder_and_rep_folder_have_additional_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_and_rep_folder_have_additional_folder/package/other/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_and_rep_folder_have_additional_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_and_rep_folder_have_additional_folder/package/representations/rep1/other/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_has_additional_folder/package/METS.xml
  corpus/structure/CSIPSTR14/pass/IP_folder_has_additional_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_has_additional_folder/package/other/.gitkeep
  corpus/structure/CSIPSTR14/pass/IP_folder_has_additional_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR14/pass/representation_folder_has_additional_folder/package/METS.xml
  corpus/structure/CSIPSTR14/pass/representation_folder_has_additional_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR14/pass/representation_folder_has_additional_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR14/pass/representation_folder_has_additional_folder/package/representations/rep1/other/.gitkeep
  corpus/structure/CSIPSTR14/testCase.xml
Labels: test case, corpus package

#45 TEST - CSIPSTR13 test case and packages.
  corpus/structure/CSIPSTR12/IP_18000_CSIPSTR12_1/package/METS.xml
  corpus/structure/CSIPSTR12/IP_18000_CSIPSTR12_1/package/metadata/.gitkeep
  corpus/structure/CSIPSTR12/IP_18000_CSIPSTR12_1/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR12/testCase.xml
  corpus/structure/CSIPSTR12/testCase.xsd
  corpus/structure/CSIPSTR13/testCase.xml
  corpus/structure/CSIPSTR13/testCase.xsd
  corpus/structure/folders/CSIPSTR12/fail/representation_folder_has_not_METS/package/METS.xml
  corpus/structure/folders/CSIPSTR12/fail/representation_folder_has_not_METS/package/metadata/.gitkeep
  corpus/structure/folders/CSIPSTR12/fail/representation_folder_has_not_METS/package/representations/rep1/data/.gitkeep
  corpus/structure/folders/CSIPSTR12/pass/representation_folder_has_METS/package/METS.xml
  corpus/structure/folders/CSIPSTR12/pass/representation_folder_has_METS/package/metadata/.gitkeep
  corpus/structure/folders/CSIPSTR12/pass/representation_folder_has_METS/package/representations/rep1/data/METS.xml
  corpus/structure/folders/CSIPSTR12/testCase.xml
  corpus/structure/folders/CSIPSTR13/pass/representation_folder_has_metadata_folder/package/METS.xml
  corpus/structure/folders/CSIPSTR13/pass/representation_folder_has_metadata_folder/package/metadata/.gitkeep
  corpus/structure/folders/CSIPSTR13/pass/representation_folder_has_metadata_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/folders/CSIPSTR13/pass/representation_folder_has_metadata_folder/package/representations/rep1/metadata/.gitkeep
  corpus/structure/folders/CSIPSTR13/testCase.xml
Labels: test case, corpus package

#46 TEST - CSIPSTR15 test case and packages.
  corpus/structure/CSIPSTR15/pass/subfolder_schemas_in_IP_folder/package/METS.xml
  corpus/structure/CSIPSTR15/pass/subfolder_schemas_in_IP_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR15/pass/subfolder_schemas_in_IP_folder/package/other/.gitkeep
  corpus/structure/CSIPSTR15/pass/subfolder_schemas_in_IP_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR15/testCase.xml
Labels: test case, corpus package

#49 TEST - CSIPSTR16 test case and packages.
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_IP_folder/package/METS.xml
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_IP_folder/package/documentation/.gitkeep
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_IP_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_IP_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_represenation_folder/package/METS.xml
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_represenation_folder/package/metadata/.gitkeep
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_represenation_folder/package/representations/documentation/.gitkeep
  corpus/structure/CSIPSTR16/pass/subfolder_documentation_in_represenation_folder/package/representations/rep1/data/.gitkeep
  corpus/structure/CSIPSTR16/testCase.xml
Labels: test case, corpus package

#53 TEST - CSIPSTR7 test case and packages.
  corpus/structure/CSIPSTR7/testCase.xml
  corpus/structure/CSIPSTR7/testCase.xsd
Labels: test case, corpus package

#52 TEST - CSIPSTR8 test case and packages.
  corpus/structure/CSIPSTR8/testCase.xml
  corpus/structure/CSIPSTR8/testCase.xsd
Labels: test case, corpus package

#233 CSIP8: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/METS.xml
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_in_future/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP8/mets-xml_metsHdr_LASTMODDATE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP8/testCase.xml
  corpora/csip/metadata/metshdr/CSIP8/testCase.xsd
Labels: test case

#193 CSIP19 - created corpora package and testCase.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1.zip
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/METS.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/documentation/Northwind ER diagram.png
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/documentation/submission_decision.tif
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/metadata/descriptive/archiveIndex.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/metadata/preservation/PREMIS3.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/METS.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record0.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record1.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record2.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record3.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record4.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record5.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record6.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table2/lob4/record7.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record0.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record1.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record2.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record3.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record4.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record5.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record6.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record7.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/Northwind_lobseg_0/content/schema0/table4/lob15/record8.bin
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/data/northwind.siard
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/metadata/descriptive/archiveIndex.xml
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/schemas/XMLSchema.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/schemas/mets.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/representations/rep1/schemas/xlink.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/schemas/XMLSchema.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/schemas/mets.xsd
  corpora/csip/metadata/dmdsec/CSIP19/IP_18000_CSIP19_1/schemas/xlink.xsd
  corpora/csip/metadata/dmdsec/CSIP19/testCase.xml
Labels: corpus package

#199 Corpora/csip/metadata/amdSec/csip32
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/METS.xml
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/metadata/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/representations/rep1/data/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/schemas/XMLSchema.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/schemas/mets.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_1/schemas/xlink.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/METS.xml
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/metadata/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/representations/rep1/data/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/schemas/XMLSchema.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/schemas/mets.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_2/schemas/xlink.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/METS.xml
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/metadata/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/metadata/preservation/A faulty PREMIS file.xml
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/representations/rep1/data/.gitkeep
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/schemas/XMLSchema.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/schemas/mets.xsd
  corpora/csip/metadata/amdsec/CSIP32/IP_18000_CSIP32_3/schemas/xlink.xsd
  corpora/csip/metadata/amdsec/CSIP32/testCase.xml
  corpora/csip/metadata/amdsec/CSIP32/testCase.xsd
Labels: test case, corpus package, ready

#291 CSIP82 testcase.xml
  corpora/csip/metadata/structmap/CSIP82/testCase.xml
Labels: test case

#340 CSIP27 - Created testCase.xml and 2 corpora packages
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/METS.xml
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/metadata/descriptive/EAD.xml
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/representations/rep1/data/.gitkeep
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/schemas/XMLSchema.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/schemas/ead3.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/schemas/mets.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_1/schemas/xlink.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/METS.xml
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/metadata/descriptive/EAD.xml
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/representations/rep1/data/.gitkeep
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/schemas/CSIPExtensionMETS.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/schemas/XMLSchema.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/schemas/ead3.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/schemas/mets.xsd
  corpora/csip/metadata/dmdsec/CSIP27/IP_18000_CSIP27_2/schemas/xlink.xsd
  corpora/csip/metadata/dmdsec/CSIP27/testCase.xml
Labels: test case

#302 SIP3: Create testCase.xml
  corpora/sip/metadata/metshdr/SIP3/testCase.xml
  corpora/sip/metadata/metshdr/SIP3/testCase.xsd
Labels: test case

#300 CSIP89 testCase.xml
  corpora/csip/metadata/structmap/CSIP89/testCase.xml
Labels: test case

#376 SIP33: Create testCase.xml
  corpora/sip/metadata/filesec/SIP33/testCase.xml
  corpora/sip/metadata/filesec/SIP33/testCase.xsd
Labels: test case

#234 CSIP9: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/METS.xml
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP9/mets-xml_metsHdr_OAISPACKAGETYPE_attribute_value_incorrect/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP9/testCase.xml
  corpora/csip/metadata/metshdr/CSIP9/testCase.xsd
Labels: test case

#294 CSIP85 testCase.xml
  corpora/csip/metadata/structmap/CSIP85/testCase.xml
Labels: test case

#293 CSIP84 testCase.xml
  corpora/csip/metadata/structmap/CSIP84/testCase.xml
Labels: test case

#292 CSIP83 testcase.xml
  corpora/csip/metadata/structmap/CSIP83/testCase.xml
Labels: test case

#260 CSIP46 testCase.xml
  corpora/csip/metadata/amdsec/CSIP46/testCase.xml
Labels: test case

#259 CSIP45 testCase.xml
  corpora/csip/metadata/amdsec/CSIP45/testCase.xml
Labels: test case

#236 CSIP10: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP10/mets-xml_metsHdr_agent_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP10/testCase.xml
  corpora/csip/metadata/metshdr/CSIP10/testCase.xsd
Labels: test case

#241 CSIP117: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP117/testCase.xml
  corpora/csip/metadata/metshdr/CSIP117/testCase.xsd
Labels: test case

#278 CSIP62: Create testCase.xml
  corpora/csip/metadata/filesec/CSIP62/testCase.xml
  corpora/csip/metadata/filesec/CSIP62/testCase.xsd
Labels: test case

#374 SIP32: Create testCase.xml
  corpora/sip/metadata/filesec/SIP32/testCase.xml
  corpora/sip/metadata/filesec/SIP32/testCase.xsd
Labels: test case

#372 DIP1 testCase.xml
  corpora/dip/metadata/mets-root/DIP1/testCase.xml
  corpora/dip/metadata/mets-root/DIP1/testCase.xsd
Labels: test case

#371 DIP2 testCase.xml
  corpora/dip/metadata/mets-root/DIP2/testCase.xml
  corpora/dip/metadata/mets-root/DIP2/testCase.xsd
Labels: test case

#307 CSIP94 testCase.xml
  corpora/csip/metadata/structmap/CSIP94/testCase.xml
Labels: test case

#327 CSIP102 testCase.xml
  corpora/csip/metadata/structmap/CSIP102/testCase.xml
Labels: test case

#321 CSIP98 testCase.xml
  corpora/csip/metadata/structmap/CSIP98/testCase.xml
Labels: test case

#332 CSIP106 testCase.xml
  corpora/csip/metadata/structmap/CSIP106/testCase.xml
Labels: test case

#366 CSIP75 testCase.xml
  corpora/csip/metadata/filesec/CSIP75/testCase.xml
Labels: test case

#365 CSIP74 testCase.xml
  corpora/csip/metadata/filesec/CSIP74/testCase.xml
Labels: test case

#364 CSIP73 testCase.xml
  corpora/csip/metadata/filesec/CSIP73/testCase.xml
Labels: test case

#358 CSIP67 testCase.xml
  corpora/csip/metadata/filesec/CSIP67/testCase.xml
Labels: test case
