Repository DILCISBoard/eark-ip-test-corpus, pull requests merged in 2023-06, with the labels that each got.

#232 CSIP7: Create testCase.xml
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/METS.xml
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/mets-root/CSIP4/root_mets_file_mets-xml_mets_csip-CONTENTINFORMATIONTYPE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP7/mets-xml_metsHdr_CREATEDATE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP7/testCase.xml
  corpora/csip/metadata/metshdr/CSIP7/testCase.xsd
Labels: test case

#440 Create corpus IP for CSIP81
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/METS.xml
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/documentation/Doc1.txt
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/schemas/mets.xsd
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_missing_type_attribute/schemas/xlink.xsd
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/METS.xml
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/documentation/Doc1.txt
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/schemas/mets.xsd
  corpora/csip/metadata/structmap/CSIP81/invalid/IP_wrong_TYPE_attribute_value/schemas/xlink.xsd
  corpora/csip/metadata/structmap/CSIP81/testCase.xml
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/METS.xml
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/documentation/Doc1.txt
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/schemas/mets.xsd
  corpora/csip/metadata/structmap/CSIP81/valid/minimal_IP_with_1_representation/schemas/xlink.xsd
Labels: corpus package

#275 CSIP15: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances.zip
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/METS.xml
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_2_instances/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty.zip
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/METS.xml
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_empty/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP15/invalid/mets-xml_metsHdr_agent_note_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP15/testCase.xml
  corpora/csip/metadata/metshdr/CSIP15/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform.zip
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/METS.xml
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_conform/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist.zip
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP15/valid/mets-xml_metsHdr_agent_note_exist/schemas/xlink.xsd
Labels: test case, corpus package

#468 Added package
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP117/mets-xml_metsHdr_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP117/testCase.xml
Labels: corpus package

#238 CSIP11: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR.zip
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/METS.xml
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_ROLE_EDITOR/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs.zip
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/METS.xml
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP11/invalid/mets-xml_metsHdr_agent_all_criterias_different_objs/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP11/testCase.xml
  corpora/csip/metadata/metshdr/CSIP11/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR.zip
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/METS.xml
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents.zip
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/METS.xml
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP11/valid/mets-xml_metsHdr_agent_ROLE_CREATOR_multiple_agents/schemas/xlink.xsd
Labels: test case, corpus package

#276 CSIP16: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect.zip
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/METS.xml
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_incorrect/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP16/invalid/mets-xml_metsHdr_agent_note_NOTETYPE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP16/testCase.xml
  corpora/csip/metadata/metshdr/CSIP16/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid.zip
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/METS.xml
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP16/valid/mets-xml_metsHdr_agent_note_NOTETYPE_valid/schemas/xlink.xsd
Labels: test case, corpus package

#272 CSIP12: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL.zip
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/METS.xml
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_INDIVIDUAL/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP12/invalid/mets-xml_metsHdr_agent_TYPE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP12/testCase.xml
  corpora/csip/metadata/metshdr/CSIP12/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist.zip
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP12/valid/mets-xml_metsHdr_agent_TYPE_exist/schemas/xlink.xsd
Labels: test case, corpus package

#273 CSIP13: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect.zip
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/METS.xml
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_incorrect/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist.zip
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/METS.xml
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP13/invalid/mets-xml_metsHdr_agent_OTHERTYPE_not_exist/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP13/testCase.xml
  corpora/csip/metadata/metshdr/CSIP13/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct.zip
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/METS.xml
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP13/valid/mets-xml_metsHdr_agent_OTHERTYPE_correct/schemas/xlink.xsd
Labels: test case, corpus package

#274 CSIP14: Create testCase.xml
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing.zip
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/METS.xml
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_element_missing/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty.zip
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/METS.xml
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP14/invalid/mets-xml_metsHdr_agent_name_empty/schemas/xlink.xsd
  corpora/csip/metadata/metshdr/CSIP14/testCase.xml
  corpora/csip/metadata/metshdr/CSIP14/testCase.xsd
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok.zip
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/METS.xml
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/documentation/Doc1.txt
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/schemas/mets.xsd
  corpora/csip/metadata/metshdr/CSIP14/valid/mets-xml_metsHdr_agent_name_ok/schemas/xlink.xsd
Labels: test case, corpus package
