Repository DILCISBoard/eark-ip-test-corpus, pull requests merged in 2024-01, with the labels that each got.

#330 CSIP105 testCase.xml
  corpora/csip/metadata/structmap/CSIP105/testCase.xml
Labels: test case

#334 CSIP109 testCase.xml
  corpora/csip/metadata/structmap/CSIP109/testCase.xml
Labels: test case

#335 CSIP110 testCase.xml
  corpora/csip/metadata/structmap/CSIP110/testCase.xml
Labels: test case

#336 CSIP111 testCase.xml
  corpora/csip/metadata/structmap/CSIP111/testCase.xml
Labels: test case

#337 CSIP112 testCase.xml
  corpora/csip/metadata/structmap/CSIP112/testCase.xml
Labels: test case

#245 CSIP36 testCase.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/METS.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/documentation/Doc1.txt
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/metadata/descriptive/package_archival_descriptions_ead2002.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/metadata/preservation/package_preservation_meta_premis_v3.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/representations/rep1/data/archival_record_xyz123_Estonian_UAM_arh.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/representations/rep1/metadata/descriptive/rep1_archival_descriptions_ead2002.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/representations/rep1/metadata/preservation/rep1_preservation_meta_premis_v2-1.xml
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/representations/rep1/schemas/Estonian_UAM_arh_classification_scheme_v2.0.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/representations/rep1/schemas/premis-v2-1.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/schemas/ead2002.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/schemas/mets.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/schemas/premis-v3-0.xsd
  corpora/csip/metadata/amdsec/CSIP36/invalid/IP_wrong_LOCTYPE_value_OTHER/schemas/xlink.xsd
  corpora/csip/metadata/amdsec/CSIP36/testCase.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/METS.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/documentation/Doc1.txt
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/metadata/descriptive/package_archival_descriptions_ead2002.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/metadata/preservation/package_preservation_meta_premis_v3.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/data/archival_record_xyz123_Estonian_UAM_arh.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/metadata/descriptive/rep1_archival_descriptions_ead2002.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/metadata/preservation/rep1_preservation_meta_premis_v2-1.xml
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/schemas/Estonian_UAM_arh_classification_scheme_v2.0.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/representations/rep1/schemas/premis-v2-1.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/schemas/ead2002.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/schemas/mets.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/schemas/premis-v3-0.xsd
  corpora/csip/metadata/amdsec/CSIP36/valid/valid_IP_with_SHOULD_MAY_1_rep/schemas/xlink.xsd
Labels: test case, corpus package

#246 CSIP37 testCase.xml
  corpora/csip/metadata/amdsec/CSIP37/testCase.xml
Labels: test case

#264 CSIP50 testCase.xml
  corpora/csip/metadata/amdsec/CSIP50/testCase.xml
Labels: test case

#254 CSIP60: 1 Rule, 3 Packages.
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/METS.xml
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/documentation/Doc1.txt
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/documentation2/Doc1.txt
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/schemas/mets.xsd
  corpora/csip/metadata/filesec/CSIP60/invalid/multi_doc_file_grp/schemas/xlink.xsd
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/METS.xml
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/documentation/Doc1.txt
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/schemas/mets.xsd
  corpora/csip/metadata/filesec/CSIP60/invalid/no_doc_file_grp/schemas/xlink.xsd
  corpora/csip/metadata/filesec/CSIP60/testCase.xml
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/METS.xml
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/documentation/Doc1.txt
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/representations/rep1/data/plain_text_document.txt
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/schemas/DILCISExtensionMETS.xsd
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/schemas/mets.xsd
  corpora/csip/metadata/filesec/CSIP60/valid/minimal_IP_with_1_representation/schemas/xlink.xsd
Labels: corpus package
